<style>
table th
{
padding:15px;
}
body{
  background-color: #b3ffb3;
}

</style>

<p id="notice"><%= notice %></p>
<%= render 'layouts/logo' %>
<br>
  <%= render 'layouts/header' %>
<h1>My Sightings</h1>

<table>
  <thead>
    <tr>
      <th>Location </th>
      <th>Observe tm </th>
      <th>Notes </th>
      <th>Species </th>
      <th>User </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%  @sighting.each do |sighting| %>
      <tr>
        <td><%= sighting.location %></td>
        <td><%= sighting.observe_tm %></td>
        <td><%= sighting.notes %></td>
        <td><%= sighting.species.common_name %></td>
        <td><%= sighting.user.email %></td>
        <td><%= link_to 'Show', sighting %></td>
        <td><%= link_to 'Edit', edit_sighting_path(sighting) %></td>
        <td><%= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

