
<style>
body{
  background-color: #b3ffb3;
}
table th
{
padding:15px;
}
</style>

<p id="notice"><%= notice %></p>
<%= render 'layouts/logo' %>

<p>
  <strong>Location:</strong>
  <%= @sighting.location %>
</p>

<p>
  <strong>Observe tm:</strong>
  <%= @sighting.observe_tm %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @sighting.notes %>
</p>

<p>
  <strong>Species:</strong>
  <%= @sighting.species %>
</p>

<p>
  <strong>User:</strong>
  <%= @sighting.user %>
</p>

<%= link_to 'Edit', edit_sighting_path(@sighting) %> |
<%= link_to 'Back', sightings_path %>
